h1 {
    text-align: center;
    padding-top: 5px;
}
/*create 2 columns in top section*/
#charName {
    width: 30%;
    float: left;
}

#charMeta {
    width: 70%;
    float: right;
}

#top {
    float: left;
    width: 33.33%;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}